/.gitattributes
* text=auto eol=lf

/.github export-ignore
/tests export-ignore
.phpunit.cache export-ignore
.phpunit.result.cache export-ignore
.env.sandbox export-ignore
.env.sandbox.example export-ignore
phpunit.xml export-ignore
